TEST PMS------------------
<header>
      <img [src]="theme.logo" height="40" />
<h1 [style.color]="theme.primaryColor">{{ theme.name }}</h1>
    </header>
     <nav style="margin-bottom: 10px;">
      <a routerLink="/dashboard">Dashboard</a> |
      <a routerLink="/reservation">Reservation</a> |
      <a routerLink="/guest-profile">Guest Profile</a> |
      <a routerLink="/housekeeping">Housekeeping</a> |
      <a routerLink="/checkin-checkout">Check-In/Out</a>
    </nav>
    <router-outlet></router-outlet>

